/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.example-canvas
{
	
}

div.source
{
	border: 1px #DDDDDD solid;
	/*padding: 10px;*/
	/*max-height: 400px;
	height: 400px;*/
}

div.canvas-div
{
	height: 300px;
}

.btn-sidebar
{
	margin-bottom: 5px;
}


div.seperator
{
	margin-bottom: 50px;
}




